@import 'modules/variables';
@import 'modules/typography';

@import 'partials/header';
@import 'partials/base'; // ovo se nazove tipa base, ili site ili tako nesto i tu idu stvari koje ne zasluzuju svoj fajl, jer ih ima malo
@import 'partials/blocks';
@import 'partials/footer';



/*
GENERALNI KOMENTAR
kad pises klase, trudi se da ih pises ovako:
.klasa {

}

a ne:

.klasa{

}

taj razmak izmedju klase i zagrade je u pitanju, cesto cesto cesto ljudi pisu tako,
i mene licno iritira jako kad je .klasa{ },
nekako je nepregledno :D

to nije greska, samo kazem da mislim da je bolje sa razmakom.
*/
