@font-face {
  font-family: 'Bar-Reg';
  src: url("../fonts/Bariol_Regular.otf"); }

@font-face {
  font-family: 'Bar-Ita';
  src: url("../fonts/Bariol_Regular_Italic.otf"); }

a {
  text-decoration: none; }

.main-slider {
  font-family: Bar-Reg; }

.main-slider h1 {
  color: #ffffff;
  font-size: 60px;
  text-align: center; }

.main-slider h2 {
  color: #ffffff;
  font-size: 20px;
  text-align: center; }

.black-belt {
  font-family: Bar-Reg; }

.black-belt h2 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px; }

.black-belt h3 {
  color: #eb4f4e;
  font-size: 20px;
  text-align: center; }

.black-belt h4 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 100; }

.black-belt p {
  text-align: center;
  color: #eb4f4e;
  font-size: 18px; }

.green-belt2 {
  font-family: Bar-Reg; }

.green-belt2 h2 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px; }

.green-belt2 h3 {
  color: #232324;
  font-size: 20px;
  text-align: center; }

.green-belt2 h4 {
  color: #6cc372;
  font-size: 25px;
  text-align: center; }

.green-belt2 p {
  color: #eb4f4e;
  font-size: 18px;
  margin-top: 10px; }

.green-belt2 a {
  font-size: 25px;
  letter-spacing: 2px; }

.gray-slider {
  font-family: Bar-Reg; }

.gray-slider h2 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
  color: #616161;
  letter-spacing: 5px; }

.gray-slider h3 {
  color: #6cc372;
  font-size: 20px;
  text-align: center; }

.gray-slider .slider-wrap {
  font-size: 21px;
  text-align: center;
  color: #232324; }

.gray-slider .slider-wrap p {
  margin-top: 10px; }

.white-belt {
  text-align: center;
  font-family: Bar-Reg; }

.white-belt h2 {
  color: #616161;
  font-size: 40px;
  letter-spacing: 5px; }

.white-belt h3 {
  color: #eb4f4e;
  font-size: 20px; }

.white-belt li {
  font-size: 18px; }

.white-belt a {
  font-size: 21px; }

.twitter-slider {
  text-align: center;
  font-family: Bar-Reg; }

.twitter-slider h2 {
  font-size: 40px;
  color: #ffffff; }

.twitter-slider h3 {
  font-size: 20px;
  color: #232324; }

footer {
  text-align: center;
  font-family: Bar-Reg; }

footer .label {
  font-size: 18px; }

footer h2 {
  font-size: 30px;
  color: #ffffff; }

footer p {
  font-size: 20px;
  color: #eb4f4e; }

header {
  width: 100%;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.1); }

header:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 32px solid rgba(255, 255, 255, 0.2);
  border-right: 32px solid transparent;
  border-bottom: 32px solid rgba(255, 255, 255, 0.2);
  border-top: 32px solid transparent;
  border-bottom-left-radius: 10px; }

header:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 64px;
  right: 0;
  border-left: 28px solid transparent;
  border-right: 28px solid rgba(0, 0, 0, 0.2);
  border-bottom: 28px solid transparent;
  border-top: 28px solid rgba(0, 0, 0, 0.2); }

header .holder {
  max-width: 970px;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

header .holder .logo {
  height: 100%;
  width: 165px;
  background: url("../img/logo.png");
  cursor: pointer;
  float: left; }

header .holder nav {
  width: 550px;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  float: right;
  top: 50%;
  position: relative;
  transform: translate(0, -50%); }

header .holder nav ul {
  text-align: right; }

header .holder nav ul li {
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  transition: background 0.3s ease-in-out;
  margin: 0 7px; }

header .holder nav ul li a {
  display: inline-block;
  background-color: transparent;
  padding: 5px 10px; }

header .holder nav ul li a:visited {
  color: #ffffff; }

header .holder nav ul li:hover {
  background: #232324; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  background: #eb4f4e; }

.main-slider {
  padding-top: 60px;
  width: 100%; }

.main-slider .main-slider-wrap {
  margin: 0 auto;
  max-width: 970px;
  width: 100%; }

.main-slider .main-slider-wrap li img {
  background-size: center; }

.main-slider .main-slider-wrap ol {
  display: none; }

.main-slider .main-slider-wrap .flexslider-main {
  position: relative; }

.main-slider .main-slider-wrap .flexslider-main .flex-viewport {
  z-index: 1; }

.main-slider .main-slider-wrap .flexslider-main .flex-direction-nav {
  position: absolute;
  top: 0;
  background: green;
  width: 100%;
  height: 1px;
  bottom: 0;
  margin: auto; }

.main-slider .main-slider-wrap .flexslider-main .flex-direction-nav a {
  opacity: 1; }

.black-belt {
  background: #232324;
  padding-top: 40px;
  padding-bottom: 15px;
  width: 100%; }

.why-use {
  text-align: center;
  padding-top: 35px; }

.why-use > div {
  display: inline-block;
  width: 275px;
  padding: 10px;
  margin: 0 22px; }

@media all and (max-width: 767px) {
  .why-use > div {
    display: block;
    margin: 0 auto; } }

.why-use img {
  margin-bottom: 10px; }

.why-use-NACIN-2 {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 35px; }

.why-use-NACIN-2::after {
  content: "";
  display: block;
  clear: both; }

.why-use-NACIN-2 > div {
  float: left;
  max-width: 33.33%;
  width: 100%;
  text-align: center;
  padding: 10px; }

@media all and (max-width: 767px) {
  .why-use-NACIN-2 > div {
    max-width: 275px;
    float: none;
    margin: 0 auto; } }

.green-belt {
  padding: 40px 0;
  width: 100%;
  background: #6cc372;
  display: none; }

.green-belt .team {
  text-align: center;
  padding-top: 35px; }

.green-belt .team div {
  width: 230px;
  margin: 4px 4px;
  padding: 20px 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 5px; }

.green-belt .team div .shine {
  position: absolute;
  width: 154px;
  border: none;
  margin-top: 3px;
  margin-left: -10px; }

.green-belt .team div img {
  width: 145px;
  border-radius: 100%;
  border: 5px solid #6cc372; }

.green-belt .team div a {
  margin-top: 10px;
  background-color: #6cc372;
  border-radius: 5px;
  width: 100%; }

.green-belt .team div a img {
  float: left;
  width: 30px;
  margin: 0;
  border: none; }

.green-belt2 {
  padding: 40px 0;
  background: #6cc372; }

.green-belt2 .team {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  width: 100%; }

.green-belt2 .team-member {
  display: inline-block;
  max-width: 226px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Bar-Reg';
  margin: 6px; }

.green-belt2 .team .image-wrapper {
  position: relative;
  width: 165px;
  height: 165px;
  background-color: #6cc372;
  margin: 15px auto 17px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px rgba(35, 35, 36, 0.4);
  padding: 10px; }

.green-belt2 .team .image-wrapper-inner {
  width: 145px;
  height: 145px;
  position: relative;
  border-radius: 50%; }

.green-belt2 .team .image-wrapper-inner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 1px rgba(35, 35, 36, 0.4) inset, 0 2px 0 rgba(255, 255, 255, 0.35);
  display: block;
  border-radius: 50%;
  background-image: url(../img/shine.png);
  background-position: left top;
  background-repeat: no-repeat; }

.green-belt2 .team .image-wrapper-inner img {
  max-width: 100%;
  border-radius: 50%; }

.green-belt2 .team a {
  display: block;
  background-color: #6cc372;
  color: #ffffff;
  border-radius: 4px;
  font-size: 25px;
  line-height: 33px;
  position: relative; }

.green-belt2 .team a:before {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 0;
  width: 32px;
  height: 100%;
  background-image: url(../img/twitter.png);
  background-repeat: no-repeat;
  background-position: left center; }

.green-belt2 .team h4 {
  font-size: 25px;
  color: #6cc372;
  margin-bottom: 11px; }

.green-belt2 .team p {
  font-size: 18px;
  color: #e74c3c;
  margin-bottom: 22px; }

.gray-slider {
  width: 100%;
  background: #f0f0f0;
  padding: 40px 0 140px; }

.gray-slider .slider-wrap {
  margin: 0 auto;
  max-width: 970px;
  width: 100%; }

.gray-slider .slider-wrap .img-wrap {
  width: 200px;
  top: 50%;
  left: 50%; }

.white-belt {
  border-top: 1px solid #d8d8d8;
  width: 100%;
  background: #fff; }

.white-belt a {
  color: #eb4f4e; }

.white-belt .plans-wrap {
  margin: 0 auto;
  max-width: 970px;
  width: 100%; }

.white-belt .plans-wrap .gear {
  margin-bottom: -21px;
  width: 30px;
  height: 30px;
  transition: all 0.3s; }

.white-belt .plans-wrap .plan {
  display: inline-block;
  max-width: 300px;
  width: 100%;
  margin: -139px 5px 0 5px; }

.white-belt .plans-wrap .plan:nth-child(2) .plan-price {
  background-color: #eb4f4e; }

.white-belt .plans-wrap .plan:nth-child(2) .plan-price a {
  color: #eb4f4e; }

.white-belt .plans-wrap .plan .plan-title {
  background-color: #ffffff;
  padding: 3.2px 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 0 3px #d8d8d8; }

.white-belt .plans-wrap .plan .plan-title h3 {
  margin-top: 5px; }

.white-belt .plans-wrap .plan .plan-options ul li {
  list-style: none;
  height: 50px;
  background-color: #f0f0f0;
  border-top: 1px solid #d8d8d8;
  color: #616161;
  line-height: 50px; }

.white-belt .plans-wrap .plan .plan-price {
  background-color: #616161;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #ffffff;
  padding: 0 15px;
  margin-bottom: 20px; }

.white-belt .plans-wrap .plan .plan-price:after {
  content: "";
  display: block;
  clear: both; }

.white-belt .plans-wrap .plan .plan-price a {
  display: block;
  width: 80px;
  height: 40px;
  float: right;
  margin-top: 30px;
  line-height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #616161; }

.white-belt .plans-wrap .plan .plan-price p {
  float: left;
  text-align: center;
  line-height: 90px; }

.white-belt .plans-wrap .plan .plan-price p .price {
  margin: 0 5px;
  font-size: 64px; }

.white-belt .plans-wrap .plan .plan-price p .dolar {
  vertical-align: top;
  font-size: 32px; }

.white-belt h3 {
  padding-bottom: 20px; }

.twitter-slider {
  width: 100%;
  background: #eb4f4e; }

footer {
  width: 100%;
  background: white; }

footer .design-by {
  width: 100%;
  background-color: #232324; }

footer .design-by .design-by-wrap {
  padding-top: 10px;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  color: #ffffff; }

footer .design-by .design-by-wrap:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

footer .design-by .design-by-wrap span {
  color: #eb4f4e; }

footer .design-by .design-by-wrap .label {
  float: left; }

footer .design-by .design-by-wrap .social {
  float: right; }

footer .map {
  background-image: url("../img/map.jpg");
  background-position: center;
  height: 300px;
  position: relative; }

footer .map .contact {
  max-width: 620px;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(35, 35, 36, 0.9);
  border-radius: 5px; }

footer .map .contact:after {
  content: '';
  position: absolute;
  border-bottom: 10px solid rgba(35, 35, 36, 0.9);
  border-top: 10px solid transparent;
  border-left: 10px solid rgba(35, 35, 36, 0.9);
  border-right: 10px solid transparent;
  margin-top: -7.35px;
  transform: rotate(-45deg); }

footer .map .contact h2 {
  padding-top: 10px;
  margin-bottom: 20px; }

footer .map .contact p {
  margin-bottom: 20px; }

/*
GENERALNI KOMENTAR
kad pises klase, trudi se da ih pises ovako:
.klasa {

}

a ne:

.klasa{

}

taj razmak izmedju klase i zagrade je u pitanju, cesto cesto cesto ljudi pisu tako,
i mene licno iritira jako kad je .klasa{ },
nekako je nepregledno :D

to nije greska, samo kazem da mislim da je bolje sa razmakom.
*/
