// moras imati ovako jedan fajl u kom ces definisati font, headinge (h1 - h6), p, a, strong i generalno tipografije

@font-face {
  font-family: 'Bar-Reg';
  src: url('../fonts/Bariol_Regular.otf');
}

@font-face {
  font-family: 'Bar-Ita';
  src: url('../fonts/Bariol_Regular_Italic.otf');
}

a {
	text-decoration: none;
}
.main-slider{
	font-family: Bar-Reg;
	h1{
		color: $white;
		font-size: 60px;
		text-align: center;
	}
	h2{
		color: $white;
		font-size: 20px;
		text-align: center;
	}
}
.black-belt {
	font-family: Bar-Reg;
	h2 {
		color: $white;
		font-size: 40px;
		text-align: center;
		padding-bottom: 10px;
	}
	h3 {
		color: $pink;
		font-size: 20px;
		text-align: center;

	}
	h4 {
		color:$white;
		text-align: center;
		font-size: 30px;
    	margin-bottom: 5px;
   		font-weight: 100;
	}
	p {
		text-align: center;
		color: $pink;
		font-size: 18px;
	}
}
.green-belt2 {
	font-family: Bar-Reg;
	h2 {
		color: $white;
		font-size: 40px;
		text-align: center;
		padding-bottom: 10px;

	}
	h3 {
		color: $black;
		font-size: 20px;
		text-align: center;
	}
	h4 {
		color: $green;
		font-size: 25px;
		text-align: center;
	}
	p {
		color: $pink; // kako si uspeo pogresnu boju da kopiras nije mi jasno :D
		font-size: 18px;
		margin-top: 10px;
	}
	a {
		font-size: 25px;
		letter-spacing: 2px;
	}

}
.gray-slider {
	font-family: Bar-Reg;
	h2 {
		color: $white;
		font-size: 40px;
		text-align: center;
		padding-bottom: 10px;
		color: $darkGray;
		letter-spacing: 5px;
	}
	h3 {
		color: $green;
		font-size: 20px;
		text-align: center;		
	}
	.slider-wrap {
		font-size: 21px;
		text-align: center;
		color: $black;
		p {
			margin-top: 10px;
		}
	}

}
.white-belt{
	text-align: center;
	font-family: Bar-Reg;
	h2{
		color: $darkGray;
		font-size: 40px;
		letter-spacing: 5px;
	}
	h3{
		color: $pink;
		font-size: 20px;
	}
	li {		
		font-size: 18px;
	}
	a{
		font-size: 21px;		
	}
}
.twitter-slider {
	text-align: center;
	font-family: Bar-Reg;
	h2 {
		font-size: 40px;
		color: $white;
	}
	h3{
		font-size: 20px;
		color: $black;
	}
}
footer {
	text-align: center;
	font-family: Bar-Reg;
	.label {
		font-size: 18px;
	}
	h2{
		font-size: 30px;
		color: $white;
	}
	p {
		font-size: 20px;
		color: $pink;
	}
}
