*{
	box-sizing: border-box;
	//
	margin: 0;
	padding: 0;
	//
}
body {
	// margin: 0;
	// padding: 0;
}
.container {
	width: 100%;
	background: $pink;
	.black-belt{
		.why-use{
			// img{
			// 	display: block;
			// 	margin: 35px auto;
			// }
		}
	}
}
