.main-slider{
	padding-top: 60px;
	width: 100%;
	.main-slider-wrap{
		margin: 0 auto;
		max-width: 970px;
		width: 100%;
		li{
			img{
				background-size: center;
			}
		}
		ol {
			display: none;
		}

		// das flex slideru relative
		.flexslider-main {
			position: relative;

			.flex-viewport {
				z-index: 1;
			}

			.flex-direction-nav {
				position: absolute;
				top: 0;
				background: green; // ovo cisto da vidis gde je
				width: 100%;
				height: 1px; // i ovo
				bottom: 0;
				margin: auto;

				a {
					opacity: 1;
				}
			}
		}
		// mislim nije ovo bas najbolje resenje, ali polupan sam, danas ludnica bila na poslu, sutra opet a posle toga na more..
		// tako da ti cackaj ovo, radi pixel perfect ako mozes i responsive
	}
}

.black-belt{
	background: $black;
	padding-top: 40px;
    padding-bottom: 15px;
	width: 100%;
}
	.why-use/*-NACIN-1*/ {
		text-align: center;
		padding-top: 35px;

		> div {
			display: inline-block;
			width: 275px;
			padding: 10px;
			margin: 0 22px;

			@media all and (max-width: 767px) {
				display: block;
				margin: 0 auto;
			}
		}

		img {
			margin-bottom: 10px;
		}
	}

	.why-use-NACIN-2 {
		max-width: 960px;
		margin: 0 auto;
		padding-top: 35px;

		// MAGIC CALLED CLEARFIX

		&::after {
	    content:"";
	    display:block;
	    clear:both;
		}

		// ovo uglavnom u tipa helper.scss-u napravis kao .clearfix klasu kojoj dodas ::after ovaj i onda dodas elementima ciji childreni imaju float klasu .clearfix i on sredi visinu sam,
		// to je ono sto si rekao da MORAS da stavis height, ne moras, moras da koristis clearfix :D Takodje mozes napraviti mixin za clearfix, pa pozivati njega u cssu,
		// a ne da dodajes klasu na html, al to drugi put.

		> div {
			float: left;
			max-width: 33.33%;
			width: 100%;
			text-align: center;
			padding: 10px;

			@media all and (max-width: 767px) {
				max-width: 275px;
				float: none;
				margin: 0 auto;
				// a mozes i umesto svega ovog, samo max-width: 100%; kako hoces
			}
		}
	}

.green-belt {
	padding: 40px 0;
	width:100%;
	background: $green;
	display: none;
	.team {
		text-align: center;
		padding-top: 35px;
		div {
			width: 230px;
			margin: 4px 4px;
			padding: 20px 10px;
			display: inline-block;
			background-color: $white;
			border-radius: 5px;
			.shine {
				position: absolute;
				width: 154px;
				border: none;
				margin-top: 3px;
				margin-left: -10px;
			}
			img {
				width: 145px;
				border-radius: 100%;
				border: 5px solid $green;

			}
			a {
				margin-top: 10px;
				background-color: $green;
				border-radius: 5px;
				width: 100%;
				img {
					float: left;
					width: 30px;
					margin: 0;
					border: none;
				}
			}
		}
	}
}

// glavna zamerka ti je generalno sto uopste nisu precizni elementi, paddinzi, margine, nista, na to moras jako obracati paznju,
// na primer, stavio si slici sirinu 145px, i onda si joj dao border 5px, a posto imas "box-sizing: border-box",
// ta slika vise nije 145px nego 145 - 5 - 5, zbog bordera.
// generalno ceo taj deo nisi dobro uradio, vidis da taj "border" ide gradient iz tamnije u svetliju, ima senke ovo ono,
// probacu to da uradim na codepenu ili nesto/
// i opet nisi linkove obojio
// A taj shine, iskreno ne znam kako bi drugacije to, mislim da je skroz ok, eventualno da je background-image ili neki after na div, cisto da nemas IMG tag,
// al ono, moze da prodje :D
// i odluci se ili je class="" ili je class=''

.green-belt2 {
	padding: 40px 0;
	background: $green;

	.team {
		margin-top: 20px;
		display: inline-block;
		text-align: center;
		width: 100%;

		&-member {
			display: inline-block;
			max-width: 226px;
			width: 100%;
			background: $white;
			border-radius: 4px;
			padding: 10px;
			font-family: 'Bar-Reg';
			margin: 6px;
		}

		.image-wrapper {
			position: relative;
			width: 165px;
			height: 165px;
			background-color: $green;
			margin: 15px auto 17px;
			border-radius: 50%;
	    	box-shadow: inset 0px 1px 1px transparentize($black, 0.6);
			padding: 10px;

			&-inner {
				width: 145px;
				height: 145px;

				position: relative;
				border-radius: 50%;

				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					box-shadow: 0 1px 1px transparentize($black, 0.6) inset,
											0 2px 0 transparentize($white, 0.65);
					display: block;
					border-radius: 50%;
					background-image: url(../img/shine.png);
					background-position: left top;
					background-repeat: no-repeat;
				}

				img {
					max-width: 100%;
					border-radius: 50%;
				}
			}
		}

		a {
			display: block;
			background-color: $green;
			color: $white;
			border-radius: 4px;
			font-size: 25px;
	    	line-height: 33px;
			position: relative;

			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 10px;
				top: 0;
				width: 32px;
				height: 100%;
				background-image: url(../img/twitter.png);
				background-repeat: no-repeat;
				background-position: left center;
			}
		}

		h4 {
			font-size: 25px;
			color: $green;
	   		margin-bottom: 11px;
		}

		p {
			font-size: 18px;
			color: $font-red;
	    	margin-bottom: 22px;
		}
	}
}

.gray-slider{
	width: 100%;
	background: $medGray;
	padding: 40px 0 140px;
	.slider-wrap {
		margin: 0 auto;
		max-width: 970px;
		width: 100%;
		.img-wrap {
			width: 200px;
			top: 50%;
			left: 50%;
		}
	}
}

.white-belt {
	border-top: 1px solid #d8d8d8;
	width: 100%;
	background: #fff;
	a{
		color: $pink;
	}
	.plans-wrap {
		margin: 0 auto;
		max-width: 970px;
		width: 100%;
		.gear {
			margin-bottom: -21px;
			width: 30px;
			height: 30px;
			transition: all 0.3s;
		}
		.plan {
			display: inline-block;
			max-width: 300px;
			width: 100%;
			margin: -139px 5px 0 5px;
			&:nth-child(2){
				.plan-price{
				background-color: $pink;
					a {
						color: $pink;
					}
				}
			}
			.plan-title {
				background-color: $white;
				padding: 3.2px 15px;
				border-top-right-radius: 15px;
				border-top-left-radius: 15px;
				box-shadow: 0 0 3px #d8d8d8;
				h3 {
					margin-top:5px;
				}
			}
			.plan-options {
				ul{
					li {
						list-style: none;
						height: 50px;
						background-color: $medGray;
						border-top: 1px solid #d8d8d8;
						color: $darkGray;
						line-height: 50px;
					}
				}
			}
			.plan-price {
				background-color: $darkGray;
				border-bottom-right-radius: 15px;
				border-bottom-left-radius: 15px;
				color: $white;
				padding: 0 15px;
				margin-bottom: 20px;
				&:after {
				    content:"";
				    display:block;
				    clear:both;
					}
				a{
					display: block;
					width: 80px;
					height: 40px;
					float: right;
					margin-top: 30px ;
					line-height: 40px;
					background-color: $white;
					border-radius: 5px;
					color: $darkGray;
				}
				p {
					float: left;
					text-align: center;
					line-height: 90px;
					.price {
						margin:0 5px;
						font-size: 64px;
					}
					.dolar {
						vertical-align: top;
						font-size: 32px;
					}
				}
			}
		}
	}
	h3 {
		padding-bottom: 20px;
	}
}
.twitter-slider{
	width: 100%;
	background: $pink;
}
