footer{
	width: 100%;
	background: white;
	.design-by {
		width: 100%;
		background-color: $black;
		.design-by-wrap {
			padding-top: 10px;
			max-width: 970px;
			width: 100%;
			margin: 0 auto;
			color: $white;
			&:after {
			     visibility: hidden;
			     display: block;
			     font-size: 0;
			     content: " ";
			     clear: both;
			     height: 0;
			     }

			span {
				color: $pink;
			}
			.label {
				float: left;
			}
			.social{
				float: right;
			}
		}
	}
	.map {
		background-image: url('../img/map.jpg');
		background-position: center;
		height: 300px;
		position: relative;
		.contact {
		  max-width: 620px;
		  width: 100%;
		  height: 150px;
		  position: absolute;
		  top: 50%;
		  left: 50%;
  		  transform: translate(-50%, -50%);
		  background-color: transparentize($black, 0.1);
		  border-radius: 5px;
		  &:after{
		  	content: '';
		  	position: absolute;
		  	border-bottom: 10px solid transparentize($black, 0.1);
		  	border-top: 10px solid transparent;
		  	border-left: 10px solid transparentize($black, 0.1);
		  	border-right: 10px solid transparent;
		  	margin-top: -7.35px;
		  	transform: rotate(-45deg);

				// ovo moze da se uradi na bolji nacin, http://apps.eky.hk/css-triangle-generator/ ovaj sajt ja uvek koristim za generisanje trouglova,
				// nema potrebe koristiti transform
				// tipa ovako:

				// width: 0;
				// height: 0;
				// border-style: solid;
				// border-width: 10px 10px 0 10px;
				// border-color: transparentize($black, 0.1) transparent transparent transparent;

		  }
		  h2 {
		  	padding-top: 10px;
		  	margin-bottom: 20px;
		  }
		  p {
		  	margin-bottom: 20px;
		  }
		}
	}
}
