header{	
	width: 100%;
	height: 110px; // ovde visina moze, ali si mogao dati margine logou isto, ali za header nije problem
	background-color: transparentize($white, 0.9); // ovo mozes da koristis i ovako, samo sto pises 1 - opacity koji hoces, znaci ako hoces 0.1 opacity pises 0.9 (1 - 0.1)
	&:after{
		content:"";
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		right: 0;
		border-left: 32px solid rgba(255,255,255,0.2); // transparentize($black, 0.8)
		border-right: 32px solid transparent;
		border-bottom: 32px solid rgba(255,255,255,0.2); // transparentize($black, 0.8)
		border-top: 32px solid transparent;
		border-bottom-left-radius: 10px;
	}

	// u svakom slucaju, za ovo si se super setio, ja sam drugacije uradio, ovo je cak mozda i lakse, jer nema ni jedan div, samo sto nisi dobro napisao, ne moze border da bude 32px jer ide preko zaobljenog dela, obrati paznju, i onda stavi svugde border 28
	&:before{
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		top: 64px;
		right: 0;
		border-left: 28px solid transparent;
		border-right: 28px solid rgba(0,0,0,0.2); // transparentize($white, 0.8)
		border-bottom: 28px solid transparent;
		border-top: 28px solid rgba(0,0,0,0.2); // transparentize($white, 0.8)
	};
	.holder{
		max-width: 970px;
		padding: 0 10px;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		.logo{
			height: 100%;
			width: 165px;
			background: url('../img/logo.png');
			cursor: pointer;
			float: left;
		}

		nav{
			width: 550px;
			font-family: Arial;
			font-weight: bold;
			font-size: 16px;
			float: right;
			top: 50%;
			position: relative;
			transform: translate(0, -50%);
			ul{
				// display: flex;
				// justify-content: space-between;

				//
				text-align: right;
				//

				li{
					a {
						display: inline-block;
						background-color: transparent;
						padding: 5px 10px;
						&:visited{
							color: $white;
						}
					}
					border-radius: 5px;
					display: inline-block;
					// color: #fff;
					color: $white;
					transition: background 0.3s ease-in-out; 
					margin: 0 7px; // ili sta je vec dovoljno dobro
					//

					&:hover{
						background: $black;
					}
				}
			}
		}
	}
}
