@font-face {
  font-family: 'Bar-Reg';
  src: url("../fonts/Bariol_Regular.otf"); }

@font-face {
  font-family: 'Bar-Ita';
  src: url("../fonts/Bariol_Regular_Italic.otf"); }

h1 {
  text-align: center;
  height: 165px;
  font-family: Bar-Reg;
  color: #fff;
  font-size: 60px; }

h1 span {
  font-size: 20px; }
